h1 {
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

.Nav .col:nth-child(2) {
  flex-grow: 10;
  padding-left: 1.5em;
}

.col {
  padding: 0.5em;
}

.search,
button {
  padding: 1.5em;
  outline: none;
  border: none;
  border-radius: 0.8em;
  box-sizing: border-box;
  font-size: 1.1em;
}

.search {
  width: 100%;
  background-color: #39414a;
  color: white;
}

button {
  background-color: #4ca7d8;
  cursor: pointer;
}